// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: #A9A9A9;

$purple: #949CDF;
$teal: #7CC9D7;
$green: #A3D2CA;
$dark-blue: #A3D2CA;
$yellow: #FDFFBC;
$dark-pink: #E9BDBD;
$light-blue: #DAECF0;
$pale-gray: #717b83;
