<p style="color: green"><%= notice %></p>

<h1>Children</h1>

<div id="children">
  <% @children.each do |child| %>
    <%= render child %>
    <p>
      <%= link_to "Show this child", child %>
    </p>
  <% end %>
</div>

<%= link_to "New child", new_child_path %>
