.child-profile {
  padding: 20px 40px 20px 40px;

    .child-name {
      font-size: 24px;
      text-decoration: none;
    }

    .child-details {
      font-size: 18px;
      padding: 10px;
      text-align: left;
    }

    .form-label {
      font-size: 18px;
    }

    .frame img {
        height: 200px;
        width: auto;
        object-fit: cover;
      }
    .a {
      text-decoration: none;
    }
  }
