<% content_for :title do %>
  <h3>Forgot your password?</h3>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset-4">
      <div class="playsnap-container">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <div class="text-center">
            <h3>Reset password</h3>
            <p>Enter the email address of your account</p>
          </div>
          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        label: false,
                        placeholder: "Your email",
                        input_html: { autocomplete: "email" } %>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, "Send a password reset link", class:"btn-primary btn-action" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
