<nav class="bottom-nav">
  <div class="footer d-inline-flex">
    <div class="footer-element ">
      <%# <%= link_to explore_path do %>
      <span class="material-symbols-outlined">search</span>
      <%# <% end %>
    </div>
    <div class="footer-element">
      <%# <%= link_to explore_path do %>
        <span class="material-symbols-outlined">dashboard</span>
      <%# <% end %>
    </div>
    <div class="footer-element">
      <%# <%= link_to wishlist_path do %>
        <span class="material-symbols-outlined">bookmark</span>
      <%# <% end %>
    </div>
    <div class="footer-element">
      <%# <%= link_to wishlist_path do %>
      <span class="material-symbols-outlined">person</span>
      <%# <% end %>
    </div>
  </div>
</nav>
