<nav class="bottom-nav sticky-bottom navbar-light bg-light">
  <div class="footer">
    <div class="footer-element ">
      <%# <%= link_to explore_path do %>
        <i class="material-symbols-outlined-search"></i>
        <%# tried to use google api fonts for icons, not working %>
      <%# <% end %>
    </div>
    <div class="footer-element">
      <%# <%= link_to bookings_path do %>
        <i class="fa-solid fa-book-atlas"></i>
      <%# <% end %>
    </div>
    <div class="footer-element">
      <%# <%= link_to "#" do %>
        <i class="fa-solid fa-heart"></i>
      <%# <% end %>
    </div>
    <div class="footer-element">
      <%# <%= link_to "#" do %>
        <i class="fa-solid fa-heart"></i>
      <%# <% end %>
    </div>
  </div>
</nav>
