<% content_for :title do %>
  <h3>About Playsnap</h3>
<% end %>

<div class="container playsnap-container">
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur alias sunt, reiciendis nesciunt tenetur aspernatur possimus totam officia consequuntur ut, ipsam quod dignissimos explicabo ad laboriosam itaque asperiores nihil libero?</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil, a? Dolor temporibus cumque maiores perspiciatis, corporis autem accusantium eum earum quaerat. Numquam voluptas aut ex alias illum. Incidunt, voluptatibus tempore.</p>

  Click <%= link_to "here", "https://github.com/playsnap-co/playsnap" %> to visit our <i class="fab fa-github-square"></i>
</div>
