buttons design
<br>
<br>

<button type="button" class="btn btn-primary btn-action">Primary</button>
<br>
<br>
<button type="button" class="btn btn-outline-primary btn-action">Primary</button>
<br>
<br>
<span class="badge rounded-pill bg-info text-dark">Info</span>
