<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<button type="button" class="btn btn-primary btn-action">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>


<br>
<br>
<button type="button" class="btn btn-outline-primary">Primary</button>

<br>
<br>
<span class="badge rounded-pill bg-info text-dark">Info</span>
