div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset-4">
      <div class="form-sign-in">

        <h4>Independent play activities with ANYTHING you have on hand, in a snap!</h4>

          <label for="objectToSearch" class="form-label">I have:</label>
          <%= form_with url: activities_path, method: :get, html: {class:
                    "mb-4"} do |f| %>
          <%= f.text_field :query,
                          class: "form-control",
                          placeholder: "object" %>
          <br>
          <label for="ageRange" class="form-label">for:</label>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg">
            <option selected>age</option>
            <option value="1">0 - 12 mths</option>
            <option value="2">12 - 24 mths</option>
            <option value="3">24 - 36 mths</option>
          </select>
          <br>

          <label for="category" class="form-label">to develop:</label>
          <br>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg">
            <option selected>development area</option>
            <option value="1">Gross motor</option>
            <option value="2">Fine Physical</option>
            <option value="3">Emotional</option>
            <option value="3">Cognitive</option>
          </select>
          <br>
          <br>
             <div class="form-actions text-center">
              <%= f.button "Search", class:"btn btn-primary btn-action"%>
            </div>
            <% end %>
      </div>
    </div>
  </div>
</div>
