.activity {
  &-image{
    margin-top: 54px;
    height: 250px;
    object-fit: cover;
  }

  .row {
    --bs-gutter-x: 0;
  }

  &-title{
    font-size: 24px;
  }

  button {
    color: $dark-gray;
  }
}
