.card-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.card-product {
  height: 160px;
  width: auto;
  background: white;
  // box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 0px 10px;
  padding: 5px 0px;
  font: $headers-font;
}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: scale-down;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: $purple;
}

.card-product p {
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 5px 12px 5px 0px;
}
