.homepage{
  padding: 20px 40px 20px 40px;
  font-size: x-large;
}

.form-select {
  border-radius: 20px;
}

.form-control {
  border-radius: 20px;
  background-color: $light-blue;
}

.form-select {
  background-color: $light-blue;
  color: $pale-gray;
}
