.form-label {
  font-size: 18px;
  margin: 15px 0px 5px 10px;
  font: $headers-font;
}

.form-select {
  border-radius: 20px;
  background-color: $light-blue;
  color: $pale-gray;
}

.form-control {
  border-radius: 20px;
  background-color: $light-blue;
}

 .btn {
  font-size: 18px;
  font-weight: 300;
}
