.navbar-playsnp {
  --bs-bg-opacity: 1;
  background-color: $white !important;
  position:absolute;
  z-index:100;
  width: 100%;
  overflow: hidden;
}

.navbar-toggler {
  border: 0px !important;

  &:focus {
    box-shadow: none;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.nav-item {
  text-align: right;
  padding: 14px 16px;
}
