.page-container {
  padding: 25px 15px;
  margin-bottom: 60px;
}

.icons {
  padding: 8px;
  color: $dark-gray;

  .fa-share .fa-bookmark .fa-heart.fa-regular {
    color: $dark-gray;
  }
}

.icons.fa-heart.fa-solid {
  color: $red;
}
