.page-container {
  padding: 25px 15px;
  margin-bottom: 60px;
}

.icons {
  padding: 8px;
  color: $purple;
  opacity: 0.7;
}

.icons.fa-heart.fa-solid {
  color: $red;
}

.icons.fa-arrow-left {
  font-size: 24px;
}

.fa,
.fa-solid {
  text-decoration: none;
}
