.page-container {
  padding: 25px 15px;
  margin-bottom: 60px;

  .fa-solid {
    color: $dark-gray;
    padding: 8px;
  }

  .fa-regular {
    color: $dark-gray;
    padding: 8px;
  }

  .fa-share {
    color: $dark-gray;
    padding: 8px;
  }
}
