.profile {
  padding: 20px 40px 20px 40px;
  margin-top: 80px;
}

.parent_avatar {
  border-radius: 50%;
}

.profile-card {
  display: flex;
  width: 328px;
  height: 72px;
  border-color: $green;
  border-radius: 4px;
  border-style: solid;
  align-items: center;
}
