<div class="wishlist-card" id="activity-<%= wishlist.activity.id %>">
  <div class="thumbnail">
    <%= image_tag wishlist.activity.image_url %>
  </div>
  <div class="wishlist-card-info">
    <%= link_to "#{wishlist.activity.title}", activity_path(wishlist.activity.id) %>
  </div>
  <div class="icon">
    <%= render "wishlists/wishlist_button", activity: wishlist.activity, wishlist: wishlist %>
  </div>
</div>
