<% content_for :title do %>
  <h1>Wishlist</h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset-4">
      <p style="color: green"><%= notice %></p>
      <div class="page-container">
        <% if @wishlists.present? %>
          <h2 class="mb-3">Here are your saved activities:</h2>
          <% @wishlists.each do |wishlist| %>
            <%= render "wishlist", wishlist: wishlist %>
          <% end %>
          <h3 class="mt-4 text-center">
          <%= link_to "Add Activities", activities_path, class:"btn btn-primary btn-action" %>
          </h3>
        <% else %>
          <h2>Looks empty for now..</h2>
          <h2 class="lh-lg">Simply tap on the bookmark icon&nbsp;
            <i class="fa-regular fa-bookmark"></i>&nbsp;
            when browsing activities to fill this list up!</h2>
          <h3 class="mt-4 text-center">
            <%= link_to "Get Started", activities_path, class:"btn btn-primary btn-action" %>
          </h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
