<% content_for :title do %>
  <h3>Wishlists</h3>
<% end %>

<div class="container-display">
  <p style="color: green"><%= notice %></p>

  <div class="container-wishlist">
    <% if @wishlists.present? %>
      <% @wishlists.each do |wishlist| %>
        <%= render "wishlist", wishlist: wishlist %>
      <% end %>
    <% else %>
      <%= link_to "Create a wishlist", new_wishlist_path %>
      <%# link_to "New wishlist", new_wishlist_path if policy(Wishlist).new? %>
    <% end %>
  </div>
</div>
