
<% content_for :title do %>
  <h3>Try these out!</h3>
<% end %>
<br>
<br>
<br>
<div class="container explorecard">
  <div class="embed-responsive embed-responsive-16by9">
  <br>
    <% if @category != "Select A Category" %>
      <span class="badge rounded-pill bg-info text-dark"><%= @category %></span>
    <% end %>
    <% if @age_group != "Select Age Group" %>
      <span class="badge rounded-pill bg-info text-dark"><%= @age_group %></span>
    <% end %>
  <br>
  <br>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 explorecard">
   <% @activities.each do |activity| %>
    <div class="col-4">
        <div class="card bg-white text-white">
          <%= link_to activity do %>
            <%= image_tag(activity.image_url, class: "card-img explore") %>
          <% end %>
        </div>
    </div>
   <% end %>
  </div>
 </div>
</div>
