<p style="color: green"><%= notice %></p>

<h1>Reviews</h1>

<div id="reviews">
  <% @activity.reviews.each do |review| %>
    <%= render review %>
  <% end %>
</div>

# reviews not showing
# path is broken
<%= link_to "New review", activity_path(@activity) %>
