<% content_for :title do %>
  <div class="title-group">
    <%= render "activities/back_button" %>
    <h1>Reviews</h1>
  </div>
<% end %>

<div class="container page-container">
  <div class="row">
    <div class="col">
      <div id="reviews">
        <%= render "review", activity: @activity, review: @review %>
      </div>
      <div class="mt-5" text-center>
        <%= link_to "< Back to activity", activity_path(@activity) %>
      </div>
    </div>
  </div>
</div>
